{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>ITEMS EATEN</h4>
            <form method="get">
            {{ view_by_date_form }}
                <button class="display-items-submit btn btn-outline-secondary btn-sm" 
                    type="submit" >Go
                </button>
            </form>
            <ul class="list-group mt-5 mb-5 mr-5">
            {% for item in latest_food_items %}
            <li class="list-group-item list-group-item-secondary text-center">{{ item.item }}  {{item.date_added}}</li>
            {% endfor %}
            </ul>
        </div>
        <form class="col" method="post" action="{% url 'index' %}">
            <h4>Add Items to List</h4>
              {% csrf_token %}
              {{ add_form }}
            <button class="add-time-now btn btn-outline-secondary" 
                  type="button" >Now</button>
            <div class="mt-5 float-right">
                <button type="submit" class="btn btn-outline-secondary">Add Food Item</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
