{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col">
          <h2> Personal Info: {{ user }} </h2> 
            <p>Height: {{ user_info.height }}"</p>
            <p>Weight: {{ user_info.weight }} lbs</p>
            <p>BMI: {{ bmi }}</p>
            <button class="btn btn-secondary show-edit-profile"> Edit</button>
      </div>
      <form class="col d-none edit-profile" method="post">
      <h2> Update Info </h2>
          {% csrf_token %}
          {{ user_data_form.as_p }} 
          <button class="btn btn-secondary edit-profile-submit" type="submit">OK</button>
      </form>
  </div>
</div>
{% endblock %}
